@model TeamMember

<div class="container">
    <form method="post" asp-action="create" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Surname" class="form-label">Surname</label>
            <input asp-for="Surname" class="form-control">
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="About" class="form-label">About</label>
            <input asp-for="About" class="form-control">
            <span asp-validation-for="About" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="TwitterLink" class="form-label">Twitter link</label>
            <input asp-for="TwitterLink" class="form-control">
            <span asp-validation-for="TwitterLink" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FacebookLink" class="form-label">Facebook link</label>
            <input asp-for="FacebookLink" class="form-control">
            <span asp-validation-for="FacebookLink" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="InstagramLink" class="form-label">Instagram link</label>
            <input asp-for="InstagramLink" class="form-control">
            <span asp-validation-for="InstagramLink" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LinkedInLink" class="form-label">LinkedIn link</label>
            <input asp-for="LinkedInLink" class="form-control">
            <span asp-validation-for="LinkedInLink" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ImageFile" class="form-label">Image</label>
            <input asp-for="ImageFile" class="form-control">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ImageFile" class="form-label">Image</label>
            <select asp-for="PositionId">
                @foreach(Position position in ViewBag.Positions)
                {
                    <option value="@position.Id">@position.Name</option>
                }
            </select>
            <span asp-validation-for="Position" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>