@model AdminLoginViewModel

@{
    Layout = "_AdminLoginLayout";
}

<div class="container">
    <form method="post" asp-action="login">
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input asp-for="Username" class="form-control" />
            <label asp-for="Username" class="form-label">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input asp-for="Password" class="form-control" />
            <label asp-for="Password" class="form-label">Password</label>
        </div>

        <div asp-validation-summary="ModelOnly"></div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
    </form>
</div>